.bookList {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(500px, 100vw - 20px), 1fr)
  );
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

span.page {
  border-radius: 3px;
  padding: 3px;
  margin: 2px;
  min-width: 20px;
  background: var(--app-secondary);
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

span.page[data-separator="true"] {
  background: var(--app-background);
}

span.page[data-current="true"] {
  background: var(--app-primary);
}

.filter {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
