:root {
  --app-background: #dfdfdf;
  --container-background: #fff;
  --app-primary: #ffa500;
  --app-secondary: #fff0d6;
  --app-color: #000;
  --app-error-background: #fd000047;
  --app-font-family: system-ui;
  --color-shadow: #00000029;
}

body {
  background: var(--app-background);
  color: var(--app-color);
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: var(--app-font-family);
}

div.app-header {
  background: var(--app-primary);
  min-height: 10px;
  padding: 10px;
}

div.app-header {
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
}

div.app-header > Link,
div.app-header > a {
  text-decoration: none;
  color: var(--app-color);
  border-radius: 5px;
  padding: 5px;
  background: var(--app-secondary);
  font-family: var(--app-font-family);
}

div.app-body {
  padding: 10px;
  flex-grow: 1;
}

div.app-error-container {
  padding: 10px;
  background: var(--app-error-background);
}

div.app-container {
  background: var(--container-background);
  border-radius: 10px;
  padding: 10px;
  /* box-shadow: 0px 2px 6px var(--color-shadow); */
}

Link.app-button,
a.app-button,
button.app {
  border: 1px solid var(--app-primary);
  background: var(--app-secondary);
  border-radius: 3px;
  padding: 3px;
  box-sizing: border-box;
  font-family: var(--app-font-family);
  font-size: small;
  cursor: pointer;
  color: var(--app-color);
}

button.app {
  text-decoration: none;
}

Link.app-button,
a.app-button {
  text-decoration: underline;
}

Link.app-button:hover,
a.app-button:hover,
button.app:hover {
  border: 1px solid var(--app-secondary);
  background: var(--app-primary);
}

button.app:disabled {
  background: var(--app-background);
}

select.app,
textarea.app,
input.app {
  border: 1px solid var(--app-primary);
  color: var(--app-color);
  background: var(--container-background);
  border-radius: 3px;
  padding: 3px;
  box-sizing: border-box;
  font-family: var(--app-font-family);
}

select.app:focus,
textarea.app:focus,
input.app:focus {
  border: 1px dotted var(--app-primary);
  background: var(--app-secondary);
}

select.app:disabled,
textarea.app:disabled,
input.app:disabled {
  background: var(--app-background);
}

details.app > summary {
  user-select: none;
  cursor: pointer;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.container-column {
  display: flex;
  flex-direction: column;
}

.container-2-column {
  display: grid;
  grid-template-columns: auto 1fr;
}

.container-wrap {
  flex-wrap: wrap;
}

.container-gap-big {
  gap: 15px;
}

.container-gap-middle {
  gap: 10px;
}

.container-gap-small {
  gap: 5px;
}

.container-gap-smaller {
  gap: 3px;
}

.color-danger {
  color: #ff0000;
}

.color-danger-lite {
  color: #b00;
}

.color-good {
  color: #008b33;
}

*[data-color="danger"] {
  color: red;
}

*[data-background-color="danger"] {
  background: pink;
}
