.book {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.book *[data-parsed="red"] {
  color: red;
}

.book *[data-parsed="bred"] {
  background: pink;
}

div.info-area {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
}

img.preview {
  max-width: 130px;
  max-height: 200px;
}

span.tag {
  border-radius: 3px;
  padding: 3px;
  margin: 2px;
  background-color: var(--app-background);
  display: inline-block;
}
