div.preview {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

div.preview > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

div.bookInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  padding: 10px;
}

div.bookInfoPanel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
